*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body{
    background-image: 
        url("assets/images/pattern-squiggly-line-top.svg"),
        url("assets/images/pattern-squiggly-line-bottom-desktop.svg"),
        url("assets/images/pattern-lines.svg"),
        url("assets/images/background-desktop.png");
    background-position: 
        right top,
        left bottom,
        center center,
        center center;
    background-size: 
        auto,
        auto,
        auto,
        cover;
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
}

.container{
    text-align: center;
    max-width: 600px;
    width: 100%;
}

.logo{
    margin-bottom: 30px;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

p{
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap:20px
}

.form-group{
    text-align: left;
}

.form-group label{
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    color: #ccc;
    font-weight: bold;
}

.avatar-upload{
    background:rgba(255,255,255,0.1);
    border: 2px dashed #ccc;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.upload-box img{
    width: 40px;
    height: 40px;
}

.upload-box p{
    font-size: 1rem;
    margin: 0;
}

.upload-box:hover{
    border-color: #fff;
    box-shadow: 0 0 0 #ffffff;
}

.upload-info{
    font-size: 0.9rem;
    color: #999;
    margin-top: 10px;
}

input[type="text"],
input[type="email"]{
    width: 100%;
    padding: 15px;
    background: rgba(255,255,255,0.1);
    border: 1px solid #ccc;
    color: transparent;
    font-size: 1rem;
    border-radius: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0px #fcfcfc;
}

.generateticket{
    border: 1px solid;
    border-radius: 10px;
    background: #ff5e62;
    padding: 15px;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: navy;
}



.attribution{
    margin-top: 20px;
}